<!-- この記述がitemのshow画面に表示されるコメント入力欄 -->
<%= form_with(model: [item, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <i class="far fa-comment-dots"></i>
    <%= form.label :コメントする %>
    <%= form.text_area :content, class:"form-control", placeholder: "テキストを入力" %>
  </div>
  <div class="actions">
    <button style="margin-top: 12px;" type="submit" class="btn btn-info"><%= "送信" %></button>
  </div>
<% end %>
