
<div class="search">
  <!-- <div class="container"> -->
    <!-- <div class="InstantSearch__root"> -->
      <div class="full-searchbox ">
        <div class="SearchBox">
          <!-- <i class="fas fa-search"></i> -->
          <%= search_form_for @q do |f| %>
            <p><%= f.search_field :name_or_description_cont, {placeholder: "キーワードで検索",class: "form-group form-control search_name" } %></p>
            <p class="search_status"><%= f.check_box :status_eq, {}, "募集中", "募集終了" %>募集中のみ表示
            <%= link_to "クリア", 'tops#index',class: "btn btn-secondary search-clear"%>
            <%= f.submit "検索",class: "btn btn-light search-search" %></p>
          <% end %>
        </div>
      </div>
      <span></span>
    <!-- </div> -->
  <!-- </div> -->
</div>

<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-4">探し物をたずねてみよう</h1>
  <p class="lead">ずっと探しているものは、誰かの部屋の隅に眠っているかもしれない。</p>
  <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">新規登録</a>
  <a class="btn btn-light btn-lg" href="/users/sign_in" role="button">ログイン</a>
</div>
</div>
