<div class="search">
  <div class="full-searchbox">
    <div class="SearchBox">
      <!-- <i class="fas fa-search"></i> -->
      <%= search_form_for @q do |f| %>
        <p><%= f.search_field :name_or_description_cont, {placeholder: "キーワードで検索",class: "form-group form-control search_name" } %></p>
        <p class="search_status"><%= f.check_box :status_eq, {}, "募集中", "募集終了" %>募集中のみ表示
        <%= link_to "クリア", 'tops#index',class: "btn btn-secondary search-clear"%>
        <%= f.submit "検索",class: "btn btn-light search-search" %></p>
      <% end %>
    </div>
  </div>
  <span></span>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">探し物をたずねてみよう</h1>
    <p class="lead">ずっと探しているものは、誰かの部屋の隅に眠っているかもしれない。<br/>
    これはフリマアプリの逆で、欲しいもの・探しているものを尋ねるサービスです。</p>
    <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">新規登録</a>
    <a class="btn btn-light btn-lg" href="/users/sign_in" role="button">ログイン</a>
  </div>
</div>

<div class="container">
  <div class="col">
    <p class= "text-center h4 font-weight-bold">新着</p>
    <hr class="divider">
      <div class="row">
        <% @items.each do |item| %>
         <div class="card", style="width: 16rem;">
           <div class="card-img-caption">
             <div class="card-body">
              <% if item.status == "募集終了" %>
                <p class="card-text">Found</p>
              <% end %>
              <%= image_tag item.images.first.to_s, gravity: :center, size: "200x200" %>
              <h5 class="card-name"><%= link_to item.name.truncate(10) , item_path(item) %></h5>
              <h6 class="card-description"><%= item.description.truncate(30)  %></h6>
              <span class="card-category bg-warning"><%= item.category %></span>
              <h6 class="card-budget">予算：<%= item.budget %>円</h6>
              <h6 class="card-deadline"><%= l(item.deadline, format: :short) if item.deadline %></h6>
              <h6 style="color: red; font-size: 16px;"><%= item.status %></h6>
              <h5 style="font-size: 16px;" ><%= link_to '詳細を見る', item_path(item.id), class: "btn btn-info"%>
              <% if current_user == item.user %>
                <%= link_to "編集", edit_item_path(item.id), class: "btn btn-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
          <% end %>
      </div>
  </div>
  <%= paginate @items %>
</div>
