<h1>My Profile</h1>
<div>
  <% if @user.icon? %>
    <%= image_tag @user.icon_url %>
  <% else %>
    <%= image_tag "/assets/default.png" %>
  <% end %>

</div>
<h3>ユーザー名</h3>
<%= @user.name %>

<h3>プロフィール</h3>
<%= @user.introduction%>

<div>
  <% if current_user %>
    <%= link_to "プロフィールの編集", edit_user_registration_path %>
  <% end %>
</div>
