<%= form_with(model: @item, local: true) do |form| %>
  <% if @item.errors.any? %>
  <div id="error_explanation">
  <h2><%= @item.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= form.label :商品名 %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :説明 %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :イメージ画像 %>
    <% @item.images.each do |image| %>
      <%= hidden_field :item, :images, multiple: true, value: image.identifier %>
      <%= image_tag image.url %>
    <% end %>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="field">
    <%= form.label :予算 %>
    <%= form.text_field :budget %>
  </div>
  <div class="field">
    <%= form.label :希望期限 %>
    <%= form.date_field :deadline %>
  </div>
  <div class="field">
  <%= form.label :カテゴリー %>
  <%= form.select :category, [
                        'レディース',
                        'メンズ',
                        'ベビー・キッズ',
                        'インテリア・住まい・小物',
                        '本・音楽・ゲーム',
                        'おもちゃ・ホビー・グッズ',
                        'コスメ・香水・美容',
                        '家電・スマホ・カメラ',
                        'スポーツ・レジャー',
                        'ハンドメイド',
                        'チケット',
                        '自動車・オートバイ',
                        'その他',
                      ], {prompt: "選択してください"} %>
  </div>
  <div class="field">
    <%= form.label :情報募集状況 %>
    <%= form.select :status, [ "募集中", "募集終了" ] %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "一覧画面にもどる", items_path %>
