<%= form_with(model: @item = Item.new, local: true) do |form| %>
<div class="field">
<%= form.label :商品名 %>
<%= form.text_field :name %>
</div>
<div class="field">
<%= form.label :説明 %>
<%= form.text_area :description %>
</div>
<div class="field">
<%= form.label :イメージ画像 %>
<%= form.file_field :images %>
</div>
<div class="field">
<%= form.label :予算 %>
<%= form.text_field :budget %>
</div>
<div class="field">
<%= form.label :希望期限 %>
<%= form.date_field :deadline %>
</div>
<!-- <div class="field">
<%#= form.label :カテゴリー %>
<%#= form.select :category %>
</div> -->
<div class="field">
<%= form.label :情報募集状況 %>
<%= form.select :status, [ "募集中", "募集終了" ] %>
</div>
<div class="actions">
<%= form.submit %>
</div>
<% end %>
